remote:
  host: "hadoopjob.omnilab.sjtu.edu.cn"
  user: "jeff"
  path: "/home/jeff/st-dataquality-master"
behaviour:
  uploadOnSave: true
  syncDownOnOpen: true
  forgetConsole: false
  autoHideConsole: true
  alwaysSyncAll: false
option:
  deleteFiles: false
  exclude: [
    ".sync-config.cson"
    ".git"
    "node_modules"
    "tmp"
    "vendor"
  ]
